<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tremendous Hike</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/icon.ico" rel="icon">
  <link href="/static/assets/img/icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- Uncomment below if you prefer to use an image logo -->
      <h1> <a href="index.html" class="logo"><img src="/static/assets/img/icon.png" alt="" class="img-fluid">Tremendous Hike</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>We Build Web-Based Services for Online Booking that Generate Revenue</h1>
          <h2>WE ARE PASSIONATE TO PROVIDE BEST TRAVELLING SERVICES</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/static/assets/img/trip2.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 col-md-10">
            <div class="icon-box">

                <form class="row g-3">
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="From" aria-label="City">
                  </div>

                  <div class="col-md-2"> 
                    <input type="text" class="form-control" placeholder="To" aria-label="City">
                  </div>

                  <div class="col-md-2">
                    <button type="button" class="btn btn-outline-success">Submit</button>
                  </div>
              </form>


            </div>
          </div>


        </div>
      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/static/assets/img/about1.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>About Us</h3>
            <p class="fst-italic">
              
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> 
                Our company is a prominent provider of traveling services from anywhere, for all major platforms. We advise, develop, and build your business today for tomorrow's success. We have the best cooperative staff who work tirelessly to provide relevant solutions to our clients on a daily basis. 
              </li>
              <li><i class="bi bi-check-circle"></i> 
                Our traveling services believe in taking a professional approach to work with its clients and delivering work that meets their needs. Our success is built on a tried-and-tested methodology and a willingness to go above and beyond. 
              </li>
              <li>
                <i class="bi bi-check-circle"></i> 
                Our traveling services platform at any time, you may track, amend, and receive 24/7 technical help. We collaborate with passengers to successfully complete their journey according  their facilities, as well as we are improving our mistakes .
              </li>
              
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="purecounter"></span>
            <p>Our family</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
            <p>Deliverd Parcel</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>From the very beginning, we focused on providing the best web-based traveling booking solutions to our clients. It’s what we do and it’s what we are best at.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-car"></i></div>
              <h4><a href="">Solo Journey</a></h4>
              <p>If you want to book a solo journey we provide the best services along with  full security .</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-bus"></i></div>
              <h4><a href="">Book a trip</a></h4>
              <p>We provide rich traveling solutions to our passengers.With full of facilities & best food services.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-box"></i></div>
              <h4><a href="">Parcel Deliver</a></h4>
              <p>From web graphics and interface to standardized coding, we deliver full web design solutions with great attention to detail.</p>
            </div>
          </div>
        </div>

      </div>
    </section>
      


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>If you'd face any problem regarding this traveling service discuss it with our team, drop us a line or email us.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Meerut, Uttar Pradesh, IN 250001</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>23xyz921@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9456402758</p>
              </div>

            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Tremendous Hike</h3>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div> 


        
          <br>
          <br>
              <h3>Amenities</h3><br>
              <div class="row justify-content-center">
                  <div class="row-lg-1">
                      
                          <img src="/static/assets/img/amenities/powerbackup.svg">
                          <span>Power backup &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                      
                          <img src="/static/assets/img/amenities/wifi.svg">
                          <span>Wifi &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                      
                          <img src="/static/assets/img/amenities/tv.svg">
                          <span>TV &nbsp; &nbsp; &nbsp; &nbsp;</span>

                          <img src="/static/assets/img/amenities/rowater.svg">
                          <span>Water Purifier &nbsp; &nbsp; &nbsp; &nbsp;</span>

                          <img src="/static/assets/img/amenities/ac.svg">
                          <span>Air Conditioner &nbsp; &nbsp; &nbsp; &nbsp;</span>
                      
                </div>        
              </div>
          
      
  



      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Tremendous Hike</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div class="back-to-top d-flex align-items-center justify-content-center">
  <a href="https://api.whatsapp.com/send?phone=919456402758"><img src="/static/assets/img/wh3.png" width="80px"></a>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>